a.marctv-error {
    color: red;
    font-weight: 700;
    pointer-events: none;
    cursor: default;
}

a.marctv-untrash {
    color: green;
}

a.marctv-done {
    color: green;
    pointer-events: none;
    cursor: default;
}

a.marctv-trash {
    color: darkred;
}

a.marctv-loading {
    color: #a9a9a9;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}
