.marctv-moderate-links {
    display: none;
}

p.marctv-moderate-links,
p.marctv-moderate-links a,
p.marctv-moderate-links span {
    font-size: 90%;
}

.js .marctv-moderate-links {
    display: block;
}

a.marctv-moderate-error {
    color: red;
    font-weight: 700;
    pointer-events: none;
    cursor: default;
}

a.marctv-moderate-untrash {
    color: green;
}

span.marctv-moderate-success,
a.marctv-ignore-report {
    color: green;
}

a.marctv-moderate-done {
    color: green;
    pointer-events: none;
    cursor: default;
}

a.marctv-moderate-trash {
    color: darkred;
}

a.marctv-moderate-replace {
    color: darkorange;
}

a.marctv-moderate-loading {
    color: #a9a9a9;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.js